<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icon libaray -->
    <script src="https://kit.fontawesome.com/96bfdff5ee.js" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <title>41901128.id.vn</title>
    <!-- css style -->
    <link rel="icon" type="image/x-icon" href="../static/Picture/favicon.ico">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <style>
      body{
        background-image: none; 
        background-color: #e1e1e1;
      }
      h2{
        font-weight: bold;
        color: #505050;
        background-color: #918f8f;
      }
      .content{
        margin: 5% 5%;
        color: black;
        background-color: rgba(255,255,255,0.7);
        padding: 20px;
        border-radius: 30px;
      }
      #img1,#img2{
        width: 70%;
        height: auto;
        margin: 40px auto 0px auto;
        display: flex;
      }
      .footer-20192{
        top: 50px;
      }
    </style>
</head>
<body>
    <div id="wrapper_main">
        <div id="header_main">
            <nav class="container">
                <a href="https://vi.wikipedia.org/wiki/Tr%C6%B0%E1%BB%9Dng_%C4%90%E1%BA%A1i_h%E1%BB%8Dc_T%C3%B4n_%C4%90%E1%BB%A9c_Th%E1%BA%AFng" id="logo"><img src="../static/Picture/Logo.png" alt="Logo"></a>
                <ul id="main-menu">
                  <li><a href="/main"><i class="fa-solid fa-house"></i></a></li>
                  <li><a href="/templates/learn.html">Bài học <i class="fa-solid fa-book-open"></i></a>
                      <!-- <ul class="sub-menu">
                          <li><a href="">Bài 1</a></li>
                          <li><a href="">Bài 2</a></li>
                          <li><a href="">Bài 3</a></li>
                          <li><a href="">Bài 4</a></li>
                      </ul> -->
                  </li>
                  <li><a href="/templates/detect.html">Nhận diện vật <i class="fa-solid fa-camera"></i></a></li>
                  <li><a href="/templates/jarvis.html">jarvis <i class="fa-solid fa-microphone-lines"></i></i></a></li>
                  <li><a href="/templates/help.html">Trợ giúp <i class="fa-solid fa-circle-question"></i></a></li>
                  <li><a href="/templates/about.html">Về chúng tôi</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="content">
      <div id="Mucdich">
        <h2>Mục đích:</h2>
        <p>Người xưa thường nói, đôi mắt là cửa sổ tâm hồn, nơi con người nhìn thấy nhau, trao đổi với nhau những điều tuyệt vời nhất 
          của cuộc sống. Tuy nhiên, đối với người mù (NM), họ dùng “đôi tay thay cặp mắt”, họ cố gắng học tập, vượt qua khiếm khuyết 
          của bản thân, vươn lên hòa nhập với cộng đồng.<br>
          Học cách đọc chữ của người mù thật khó, chúng tôi đến với lớp học chữ Braille. Quan sát lớp học, chúng tôi thấy các em ngồi 
          nghe giảng bài rất chăm chú, tiếng lách cách của những cây bút sắt đâm sâu vào từng trang bìa cứng, để tạo ra những trang viết 
          chữ nổi.<br>
          Việc học chữ của người khiểm thị để hòa nhập cộng đồng thật gian truân. Có nhiều thứ ngay cả người sáng mắt học còn khó khăn, 
          nhưng nhiều người khiếm thị đã kiên trì học, cố gắng vượt lên chính mình, như một điều kỳ diệu để học hòa nhập với cộng đồng. 
          Nhận thấy việc học chữ của người mù rất khó khăn. Tôi có mong muốn tạo ra một sản phẩm có thể hỗ trợ người mù dễ dàng học tập hơn.</p>
      </div>
      <div id="Khatvong">
        <h2>Khát vọng:</h2>
        <p>
        Với mong muốn tạo ra sản phẩm giúp người mù dễ dàng học tập hơn nhờ vào công nghệ. Tôi mong muốn sản phẩm sẽ đạt hiệu quả cao, 
        hỗ trợ tối đa cho người dùng và giảm tải công việc của giáo viên. Ban đầu, sản phẩm sẽ cần sự hỗ trợ để thiết lập trên máy tính. 
        Sau đó, người mù có thể thoải mái tự học theo ý muốn riêng của họ. Tôi hy vọng trong tương lai, chúng tôi có thể phát triển sản 
        phẩm lên theo định hướng không cần sự hỗ trợ của giáo viên và không sử dụng máy tính kết nối mà sản phẩm có thể tích hợp all-in-one, 
        tại đó người dùng có thể tự mình tương tác hoàn toàn với sản phẩm. 
        </p>
      </div>
      <div id="Ketqua">
        <h2>Kết quả:</h2>
        <p>
          Sản phẩm của tôi đã được thử nghiệm tại trường THPT đặc biệt Nguyễn Đình Chiểu và được sự đón nhận nồng nhiệt của các em học sinh cũng như các thầy
          cô. Các em thích thú khi được trải nghiệm nhiều tính mới lạ và đặc biệt là việc học chữ nổi của các em trở nên thú vị và hiệu quả hơn nhờ sự giúp 
          sức của công nghệ.
        </p>
        <img id="img1" src="../static/img tonghop/1.jpg" alt="1">
        <img id="img2" src="../static/img tonghop/2.jpg" alt="2">
      </div>
    </div>
</body>

<footer class="footer-20192">
    <div class="site-section">
      <div class="container">
        <div class="row">

          <div class="col-sm">
            <a href="/main" class="footer-logo">Trang chủ</a>
            <p class="copyright">
              <small>&copy; 2023</small>
            </p>
            <div class="col-lienhe">
              <h3>Thông tin liên hệ</h3>
              <ul class="list-contact">
                <li><i class="fa-solid fa-phone"></i> 0342 938 651</li>
                <li><iconify-icon icon="arcticons:zalo"></iconify-icon> 0342 938 651</i></li>
                <li><i class="fa-solid fa-envelope"></i> khacquyettkd@gmail.com</li>
              </ul>
            </div>
          </div>
          <div class="col-sm">
            <h3>Quá trình hoàn thiện</h3>
            <ul class="list-unstyled links">
              <li><a href="/templates/hardware.html">Phần cứng</a></li>
              <li><a href="/templates/software.html">Phần mềm</a></li>
            </ul>
          </div>
          <div class="col-sm">
            <h3>Về đồ án này</h3>
            <ul class="list-unstyled links">
              <li><a href="/templates/tonghop.html">Mục đích</a></li>
              <li><a href="/templates/tonghop.html#Khatvong">Khát vọng</a></li>
              <li><a href="/templates/tonghop.html#Ketqua">Kết quả</a></li>
            </ul>
          </div>
          <div class="col-sm">
            <h3>Thông tin thêm</h3>
            <ul class="list-unstyled links">
              <li><a href="/templates/info.html">Sinh viên &amp; thông tin khác</a></li>
              <li><a href="/templates/this_product.html">Sản phẩm</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>Follow us</h3>
            <ul class="list-unstyled social">
              <li><a href="https://www.facebook.com/khacquyettkd/"><i class="fa-brands fa-facebook"></i></a></i></li>
              <li><a href="//www.tiktok.com/@quyettrankhac"><i class="fa-brands fa-tiktok"></i></a></i></li>
              <li><a><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
          </div>
        
          
        </div>
      </div>
    </div>
  </footer>

</html>